<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" type="text/css" href="/../style/auth.css">
</head>
<body>
    <div class="not-subs-container" id="e3">
        <h1>Authentification</h1>
        <div class="service-roll">
            <div class="card testclick">
                <a href="/auth/discord">
                    <img src="/../assets/discord.png" alt="Card Image">
                </a>
            </div>
        </div>
    </div>
</body>
<footer class="testclick2">
    <p>Copyright ©AREA-Milky</p>
</footer>
</html>