<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/../style/login.css">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<ul>
		<% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
		<li><%= error.msg %></li>
		<% }) %> <% } %>
	</ul>

	<form action="/login" method="POST">
		<h1>AREA</h1>
		<div class="login-wrap">
			<div class="login-html">
				<div class="login-form">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input type="text" id="user" name="user" class="input" required>
					</div>
					<div class="group">
						<label for="user" class="label">Password</label>
						<input type="password" id="password" name="password" class="input" required>
					</div>
					<a href="/register">Don't have an account ? Click here to register</a>
					<div class="group">
						<input type="submit" class="button" value="login">
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
<footer>
	<p>Copyright ©AREA-Milky</p>
</footer>
</html>